@media (max-width: 768px) {

    .nav-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-toggle {
        display: flex; 
        order: 2;
    }

    .nav-menu {
        display: none; 
        position: absolute;
        top: 60px; 
        left: 0;
        width: 100%;
        background: white;
        z-index: 9999; 
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        
    }

    .nav-menu.active {
        display: block; 
    }

    .nav-menu ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
    }

    .nav-menu li a {
        display: block;
        padding: 15px;
        border-bottom: 1px solid #eee;
        text-align: center;
    }
   li {
        flex-direction: column;
        text-align: center;
    }
}