/* --- CONFIGURAÇÕES GERAIS --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, li {
    padding: 10px;
}
ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #ffffff;
    border: 1px solid #e2e8f0;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center; /* Centraliza verticalmente ícone e texto */
    gap: 20px; /* Espaço entre imagem e texto */
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.02);
}
li:hover {
    transform: translateY(-3px); /* Levanta o card levemente */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-color: #2563eb;
}

/* Ajuste das imagens dentro dos cards */
li img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    background: #f8fafc;
    padding: 5px;
    border-radius: 8px;
}

/* Estilo para os textos dentro do card */
li strong {
    color: #0f172a;
    font-size: 1.1rem;
    display: block; /* Faz o nome ficar em cima do e-mail */
}

li span { /* Se você usar uma span para o e-mail ou descrição */
    color: #64748b;
    font-size: 0.95rem;
}

body {
    font-family: 'Inter', -apple-system, sans-serif;
    background-color: #f1f5f9;
    color: #1e293b;
    padding-top: 80px; /* Espaço para o menu fixo */
}

/* --- HEADER E NAVEGAÇÃO --- */
header {
    background: #ffffff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.nav-container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #ffffff;
}

.logo-text {
    font-weight: 800;
    color: #2563eb;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-menu {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
    color: #64748b;
    font-weight: 600;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #2563eb;
}


/* Esconder botão hambúrguer no Desktop */
.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    background: none;
    border: none;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: #1e293b;
    border-radius: 3px;
}

/* --- CONTEÚDO IMG--- */
.main-content {
    margin: 40px auto 10px ;
    max-width: 1000px;
    background: white;
    padding: 40px;
    border-radius: 12px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #ffffff;
    margin: 20px auto;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
    border-top: 1px solid #e2e8e0;
}