<%- include('partials/header') %>
     <main class="main-content">
        <h1><%= title %></h1>
        
        <p>Here are a few of our partner organizations:</p>
        <ul>
            <% projects.forEach(project => { %>
                <li><%= project.title %></li>
            <% }); %>
        </ul>
    </main>

<%- include('partials/footer') %>