<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/small.css">
</head>
<body>
<header>
    <div class="nav-container">
        <button class="menu-toggle" id="mobile-menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <nav >        
            <ul class="nav-menu" >
                <li><a href="/">Home</a></li>
                <li><a href="/organizations">Organizations</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/categories">Categories</a></li>
            </ul>
        </nav>
</div>
</header>